<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="#">雙葉幼稚園</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item ">
      <a class="nav-link" href="#">通知<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      小孩
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <%  @children_list.each do |childlist| %>
          <%= link_to childlist.name, dashboard_child_overview_path(childlist), class:'dropdown-item' %>
        <% end %>
      </div>
  </li>
  <% if request.path === "/dashboard/children/#{params[:child_id]}/overview" %>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2 search" type="search" placeholder="請輸入查詢日" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0 search_btn" type="submit">搜尋</button>
  </form>
  <% end %>
  <div> 
    <% if user_signed_in? %>
      <%= link_to current_user.name, dashboard_path, class:'btn' %>
      <%= link_to "登出", destroy_user_session_path, method: 'delete', class: 'btn' %>
    <% else %>
      <%= link_to "註冊", new_user_registration_path, class: 'btn' %>
      <%= link_to "登入", new_user_session_path, class: 'btn' %>
    <% end %>
  </div>
</div>
</nav>