<div class="container text-center">
  <h3 class="function-subtitle font-weight-bold mb-3">用藥明細</h3>
  <table class="table">
    <tbody>
      <% dashboards.order(started_at: :desc).medicine.each do |dashboard| %>
        <tr>
          <td><%= link_to dashboard.title, dashboard_child_medicine_path(child_id: params[:id], id: dashboard.id), class: 'font-weight-bold link-button' %></td>
          <td><%= dashboard.started_at.to_date %></td>
          <% if dashboard.finished_at == nil %>
            <td><%= link_to '編輯', edit_dashboard_child_medicine_path(child_id: params[:id], id: dashboard.id), class: 'btn edit-button' %></td>
            <td><%= link_to '刪除', dashboard_child_medicine_path(child_id: params[:id], id: dashboard.id), method: :delete , class: 'btn btn-danger confirm_delete' %></td>
          <% else %>
            <td colspan="2">老師已完成餵藥</td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to '新增餵藥紀錄', new_dashboard_child_medicine_path(child_id: params[:id]), class: 'btn create-button' %>
</div>
