<div class="container text-center">
  <h3 class="function-subtitle font-weight-bold mb-3">可接送親屬</h3>
  <div class="row">
    <% child.pick_ups.each do |pick_up| %>
      <%= link_to dashboard_child_pick_up_path(:child_id => child.id, :id => pick_up.id), class: 'col-lg-6 col-md-12  col-sm-12 mb-3' do %>
        <div class="card">
          <img src="<%= show_image pick_up %>" class="card-img-top avatar-relative" alt="<%= pick_up.name %>的照片">
          <div class="card-body">
            <h5 class="card-title font-weight-bold relative-name"><%= pick_up.name %></h5>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= link_to "新增可接送親屬", new_dashboard_child_pick_up_path(child), class: 'btn create-button' %>
</div>
