<div class="container text-center">
  <h2 class="text-white">可接送親屬</h2>
  
  
  <div class="row">
    <% child.pick_ups.each do |pick_up| %>
      <%= link_to dashboard_child_pick_up_path(:child_id => child.id, :id => pick_up.id) do %>
        <div class="col-sm-6">
          <div class="card" style="width: 18rem;">
            <img src="<%= pick_up.pick_up_pic %>" class="card-img-top text-dark" alt="<%= pick_up.name %>的照片">
            <div class="card-body">
              <h5 class="card-title text-dark font-weight-bold"><%= pick_up.name %></h5>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= link_to "新增可接送親屬", new_dashboard_child_pick_up_path(child), class: 'btn btn-warning' %>
</div>
<%= javascript_pack_tag 'pick_up.js' %>
