<h1>新增小朋友</h1>

<%= form_for @children do |form| %> 
<%= form.label :name, '姓名'%>
<%= form.text_field :name %>
<%= form.label :babyclass_id, '小朋友班級' %> 
<%= select_tag(:babyclass_id, '<option value="1">向日葵小班</option>') %>
<%= form.label :user_id, '小朋友家長', class: 'label' %> 
<%= form.collection_select :user_id, User.all, :id, :name %>
<%= form.submit %> 
<% end %>