<%= render 'shared/backend/navbar'%>

<div class="container task-show">
  <h2 class="text-center font-weight-bold title-color mb-3">可接送<%= @student.name %>的親屬</h2>
  <div class="pick_up_pic mb-3">
    <%= cover_image_tag @pick_up %>
  </div>
  <table class="table table-hover">
    <tbody>
      <tr>
        <th scope="row">姓名</th>
        <td><%= @pick_up.name %></td>
      </tr>
      <tr>
        <th scope="row">關係</th>
        <td><%= @pick_up.relationship %></td>
      </tr>
      <tr>
        <th scope="row">備註</th>
        <td><%= @pick_up.note %></td>
      </tr>
      <tr>
        <td>
          <%= link_to "返回功能列表", teacher_dashboard_child_path(@student.id, anchor: 'list-pick-up'), class: 'btn back-button' %>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
