<%= render 'shared/backend/navbar'%>
<div class="container">
  <h1 class="text-warning">可接送<%= @student.name %>的親屬</h1>
  <div class="pick_up_pic">
    <%= cover_image_tag @pick_up %>
  </div>
  <table class="table table-hover table-secondary">
    <tr>
      <th scope="row">姓名</th>
      <td><%= @pick_up.name %></td>
    </tr>
    <tr>
      <th scope="row">關係</th>
      <td><%= @pick_up.relationship %></td>
    </tr>
    <tr>
      <th scope="row">備註</th>
      <td><%= @pick_up.note %></td>
    </tr>
    <tr>
      <td>
        <%= link_to "回到上一頁", teacher_dashboard_child_path(@student.id, anchor: 'list-pick-up'), class: 'btn btn-warning' %>
      </td>
      <td></td>
    </tr>
  </table>
</div>