<%= render 'shared/frontend/navbar' %>
<div class="container">
  <h1 class="text-warning text-center">修改<%= @pick_up.name %>的資料</h1>
  
  <%= form_with scope: :pick_up, url: dashboard_child_pick_up_path(:child_id => @child.id, :id => @pick_up.id), method: :put, local: true do |form| %>
    <div class="pick_up_pic mb-3">
      <%= @pick_up.pick_up_pic %>
    </div>
    <div class="input-group mb-3">
      <div class="custom-file">
        <%= form.label :pick_up_pic, @pick_up.pick_up_pic, class: 'custom-file-label' %>
        <%= form.file_field :pick_up_pic, class: 'custom-file-input' %>
      </div>
    </div>
    <div class="form-group">
      <%= form.label :name, "姓名", class: 'text-white' %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :relationship, "與小朋友的關係", class: 'text-white' %>
      <%= form.text_field :relationship, class: 'form-control' %>
    </div>
  
    <div class="form-group">
      <%= form.label :note, "備註", class: 'text-white' %>
      <%= form.text_area :note, class: 'form-control' %>
    </div>
  
    <%= form.submit "更新資料" , class: 'btn btn-warning' %>
  <% end %>
</div>