<%= render 'shared/frontend/navbar' %>
<div class="container">
  <h1 class="text-warning text-center">新增可接送的親屬</h1>
  <%= form_with scope: :pick_up, url: dashboard_child_pick_up_index_path, local: true do |form| %>
    <div class="pick_up_pic mb-3">
      <%= cover_image_tag @pick_up %>
    </div>
    <div class="input-group mb-3">
      <div class="custom-file">
        <%= form.label :pick_up_pic, "請上傳照片", class: 'custom-file-label pick_up_pic_url' %>
        <%= form.file_field :pick_up_pic, class: 'custom-file-input' %>
      </div>
    </div>
  
    <div class="form-group">
      <%= form.label :name, "姓名", class: 'text-white' %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :relationship, "與小朋友的關係", class:'text-white' %>
      <%= form.text_field :relationship, class: 'form-control' %>
    </div>
  
    <div class="form-group">
      <%= form.label :note, "備註", class: 'text-white' %>
      <%= form.text_area :note, class: 'form-control' %>
    </div>
  
    <%= form.submit "送出", class: 'btn btn-warning' %>
  <% end %>
</div>
