<%= render 'shared/frontend/navbar' %>
<h1>可接送<%= @child.name %>的親屬</h1>

  <%= @pick_up.pick_up_pic %>
<p>
  姓名: <%= @pick_up.name %><br>
  關係: <%= @pick_up.relationship %><br>
  備註: <%= @pick_up.note %>
</p>
<%= link_to "返回", dashboard_child_path(@child.id), class: 'btn btn-info' %>
<%= link_to "編輯", edit_dashboard_child_pick_up_path(:child_id => @child.id, :id => @pick_up.id), class: 'btn btn-warning' %>
<%= link_to "刪除", dashboard_child_pick_up_path(:child_id => @child.id, :id => @pick_up.id), method: 'delete',data: {confirm: '確定刪除嗎?'}, class: 'btn btn-danger' %>