<%= render 'shared/backend/navbar' %>

<div class="container">
  <div class="col-sm-10 col-md-8 col-lg-6 mx-auto task-edit">
    <h2 class="text-center font-weight-bold title-color mb-3">
      <%= @student.name %><br>
      新增用餐紀錄
    </h2>
    <%= form_with scope: :dashboard, url: teacher_dashboard_child_eat_index_path, local: true do |form| %>
      <div class="meal_pic mb-3">
        <%= cover_meal_pic_image_tag @meal_dashboard %>
      </div>
      <div class="input-group mb-3">
        <div class="custom-file">
          <%= form.label :admin_sign, "請上傳照片", class: 'custom-file-label meal_pic_url url-color' %>
          <%= form.file_field :admin_sign, class: 'custom-file-input' %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :title, '餐別' %>
        <%= form.select(:title, ['早餐','午餐','晚餐','點心'], {}, { :class => 'form-control form-control-color' }) %>
      </div>
      <div class="form-group">
        <%= form.label :content, '餐點內容' %>
        <%= form.text_area :content, class: 'form-control form-control-color' %>
      </div>
      <div class="form-group">
        <%= form.label :finished_at, '吃飯時間' %>
        <%= form.date_field :finished_at, class: 'form-control form-control-color three_day_scope' %>
      </div>
      <div class="form-group">
        <%= form.hidden_field :category, :value => 'eat', class: 'form-control form-control-color' %>
        <%= form.hidden_field :child_id, :value => params[:child_id], class: 'form-control form-control-color' %>
      </div>
      <div class="form-group">
        <%= form.submit '新增紀錄', class: 'btn submit-button' %>
      </div>
    <% end %>
  </div>
</div>
