<%= render 'shared/frontend/navbar'%>
<div class="container">
  <h1 class="text-warning text-center"><%= @find_child.name %></h1>
  <%= form_with model: @find_medicine, url: dashboard_child_medicine_path	, local: true do |form| %>
    <div class="form-group">
      <%= form.label :title, '用藥名稱', class:'text-white' %>
      <%= form.text_field :title, class:'form-control'  %>
    </div>

    <div class="form-group">
    <%= form.label :started_at, '用藥時間', class:'text-white' %>
    <%= form.date_field :started_at, class:'form-control' %>
    </div>

    <div class="form-group">
    <%= form.label :content, '備註', class:'text-white' %>
    <%= form.text_area :content, class:'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :parent_sign, '給藥者簽名(為求慎重，編輯後皆須重新簽章)', class:'text-white' %>
      <%= form.hidden_field :parent_sign, class: 'form-control' %>
      <div class="signature-pad-wrapper mb-3">
        <canvas id="signature-pad" class="signature-pad"></canvas>
      </div>
      <div class="btn btn-light" id="draw">簽名</div>
      <div class="btn btn-light" id="clear">清除</div>
      <div class="btn btn-light" id="save">儲存簽章</div>
    </div>

    <div class="form-group">
    <%= form.submit '更新紀錄', class:'btn btn-warning' %>
    <%= link_to '回到上一頁', dashboard_child_path(id: params[:child_id], anchor: 'feed-medicine'), class:'btn btn-warning' %>
    <%= link_to '刪除', dashboard_child_medicine_path(child_id: params[:child_id],id: params[:id]), method: :delete ,data: {confirm:'確定刪除這筆資料？'}, class:'btn btn-danger' %>
    </div>
  <% end %>
</div>

<%= javascript_pack_tag 'signature_pad.js' %>
