<%= render 'shared/frontend/navbar'%>
<div class="container task-edit">
  <h2 class="text-center font-weight-bold title-color mb-3">
    <%= @find_child.name %><br>
    新增給藥通知
  </h2>
  <%= form_with scope: :dashboard, url: dashboard_child_medicine_index_path, local: true do |form| %>
    <div class="form-group">
      <%= form.label :title, '用藥名稱' %>
      <%= form.text_field :title, class: 'form-control form-control-color'  %>
    </div>

    <div class="form-group">
      <%= form.label :started_at, '用藥時間' %>
      <%= form.date_field :started_at, class: 'form-control form-control-color datetimepickr' %>
    </div>

    <div class="form-group">
      <%= form.label :content, '備註' %>
      <%= form.text_area :content, class: 'form-control form-control-color' %>
    </div>
    
    <div class="form-group">
      <%= form.label :parent_sign, '給藥者簽名' %>
      <%= form.hidden_field :parent_sign, class: 'form-control form-control-color' %>
      <div class="signature-pad-wrapper mb-3">
        <canvas id="signature-pad" class="signature-pad"></canvas>
      </div>
      <div class="btn signature-button" id="draw">簽名</div>
      <div class="btn signature-button" id="clear">清除</div>
      <div class="btn signature-save-button" id="save">儲存簽章</div>
    </div>

    <div class="form-group">
      <%= form.hidden_field :category, :value => 'medicine',  class: 'form-control form-control-color' %>
      <%= form.hidden_field :child_id, :value => params[:child_id],  class: 'form-control form-control-color' %>
    </div>

    <div class="form-group">
      <%= form.submit '新增紀錄', class: 'btn submit-button' %>
    </div>
  <% end %>
</div>

<%= javascript_pack_tag 'signature_pad.js' %>
