<%= render 'shared/frontend/navbar'%>

<div class="container task-show">
  <h2 class="text-center font-weight-bold title-color mb-3">
    <%= @find_child.name %><br>
    餵藥紀錄
  </h2>
  <table class="table table-hover">
    <tbody>
      <tr>
        <th scope="row">用藥名稱</th>
        <td><%= @find_medicine.title %></td>
      </tr>
      <tr>
        <th scope="row">用藥日期</th>
        <td><%= @find_medicine.started_at.to_date %></td>
        <th scope="row">用藥時間</th>
        <td><%= @find_medicine.started_at.strftime("%H:%M") %></td>
      </tr>
      
      <% if @find_medicine.finished_at != nil %>
      <tr>
        <th scope="row">餵藥日期</th>
        <td><%= @find_medicine.finished_at.to_date %></td>
        <th scope="row">餵藥時間</th>
        <td><%= @find_medicine.finished_at.strftime("%H:%M") %></td>
      </tr>
      <% end %>

      <tr>
        <th scope="row">備註</th>
        <td colspan="3"><%= @find_medicine.content %></td>
      </tr>
      <tr>
        <th scope="row">給藥者簽名</th>
        <td colspan="3"><%= image_tag @find_medicine.parent_sign.url %></td>
      </tr>
      <tr>
        <th scope="row">餵藥者簽名</th>
        <td colspan="3"><%= frontend_show_admin_sign %></td>
      </tr>
      <tr>
        <td colspan="4">
          <%= link_to '返回功能列表',dashboard_child_path(id: params[:child_id], anchor: 'feed-medicine'), class: 'btn back-button' %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
