<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="#">雙葉幼稚園</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item ">
      <a class="nav-link" href="/teacher/dashboard/children/new">新增小朋友<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" href="#">通知<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      班級
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <% @babyclass.each do |babyclass| %>
          <%= link_to babyclass.nursery_class, teacher_dashboard_myclass_path(babyclass), class:'dropdown-item'%>
        <% end %>
      </div>
  </li>
    <li class="nav-item ">
      <%= link_to '我的學生', teacher_dashboard_path, class:'nav-link' %>
    </li>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜尋</button>
  </form>
  <div> 
    <% if teacher_signed_in? %>
      <a href="#" class="btn"><%= current_teacher.name + '老師' %></a>
       <%= link_to "登出", destroy_teacher_session_path, method: 'delete', class: 'btn'	 %>
    <% else %>
      <%= link_to "註冊", new_teacher_registration_path, class: 'btn'	 %>
      <%= link_to "登入", new_teacher_session_path, class: 'btn'	 %>
    <% end %>
  </div>
</div>
</nav>