<div class="container">
  <div class="w-50 mx-auto border rounded p-5 bg-light">
    <h3 class="text-primary">新增小朋友</h3>
    <%= form_with(model: [:teacher, dashboard, child], local: true) do |form| %>
      <div class="form-group">
        <%= form.label :name, '姓名', class: 'text-body' %>
        <%= form.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-row">
        <div class="col">
          <%= form.label :user_id, '家長', class: 'text-body' %>
          <div class="form-control">
            <%= form.collection_select :user_id, User.all, :id, :name %>
          </div>
        </div>
        <div class="col">
          <%= form.label :babyclass_id, '班級', class:'text-body' %>
          <div class="form-control">  
            <%= form.collection_select :babyclass_id, Babyclass.all, :id, :nursery_class %>
          </div>
        </div>
      </div>
      <div class="form-group ">
        <%= form.hidden_field :teacher_id, :value => current_teacher.id, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= form.submit '新增小朋友', class: 'btn btn-success form-control' %>
      </div>
    <% end %>
  </div>
</div>
