<div class="container text-center">
  <h3 class="function-subtitle font-weight-bold mb-3">生活紀錄</h3>
  <table class="table">
    <tbody>
      <% dashboards.order(finished_at: :desc).misc.each do |dashboard| %>
      <tr>
        <td><%= dashboard.title %></td>
        <td><%= dashboard.finished_at.to_date %></td>
        <td><%= dashboard.content %></td>
        <td><%= link_to '編輯', edit_teacher_dashboard_child_misc_path(child_id: params[:id], id: dashboard.id), class: 'btn edit-button' %></td>
        <td><%= link_to '刪除', teacher_dashboard_child_misc_path(child_id: params[:id], id: dashboard.id), method: :delete, class: 'btn btn-danger confirm_delete' %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to '新增生活紀錄', new_teacher_dashboard_child_misc_path(child_id: params[:id]),class:'btn create-button'%>
</div>
