<%= render 'shared/backend/navbar' %>
<div class="text-center">
</div>
<div class="container text-center">
<h2 class="text-warning">
  <%= @student.name %>的行程列表
  <%= link_to "功能列表", teacher_dashboard_child_path(@student.id), class: 'btn btn-light' %>
</h2>
<table class="table">
  <tbody class="text-white">
    <% @dashboards.order(finished_at: :desc).each do |dashboard| %>
      <tr>
          <td><%= link_to dashboard.title, if dashboard.category != 'medicine' 
                                            "#{dashboard.category}/#{dashboard.id}/edit"
                                           else
                                            "#{dashboard.category}/#{dashboard.id}"
                                           end, class: 'font-weight-bold text-danger' %></td>
          <td><%= dashboard.finished_at.to_date %></td>
          <td><%= dashboard.content %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>