<%= render 'shared/backend/navbar' %>

<div class="container text-center overview">
  <h2 class="font-weight-bold overview-title">
    <%= @student.name %>園內生活點滴<br>
    <%= link_to "進入功能列表", teacher_dashboard_child_path(@student.id), class: 'btn function-button' %>
  </h2>
  <table class="table">
    <tbody>
      <% @dashboards.order(finished_at: :desc).each do |dashboard| %>
        <tr>
          <td><%= link_to dashboard.title, teacher_redirect_to(dashboard), class: 'font-weight-bold link-button' %></td>
          <td><%= dashboard.finished_at.to_date %></td>
          <td><%= dashboard.content %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
