<%= render 'shared/backend/navbar' %>
<div class="text-center">
</div>
<div class="container text-center">
  <h2 class="text-warning">
    <%= @student.name %>的行程列表
    <%= link_to "功能列表", teacher_dashboard_child_path(@student.id), class: 'btn btn-light' %>
  </h2>
  <table class="table">
    <tbody>
      <% @dashboards.order(finished_at: :desc).each do |dashboard| %>
        <tr>
          <td><%= link_to dashboard.title, teacher_redirect_to(dashboard), class: 'font-weight-bold text-danger' %></td>
          <td><%= dashboard.finished_at.to_date %></td>
          <td><%= dashboard.content %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
