<%= render 'shared/backend/navbar' %>


<div class="container">
    <h1 class="text-center text-warning"><%= @student.name %></h1>
    <div class="row">
    <div class="col-4">
      <div class="list-group" >
        <a class="list-group-item list-group-item-warning active" id="list-home-list" data-toggle="list" href="#feed-medicine" >餵藥</a>
        <a class="list-group-item list-group-item-warning" id="list-profile-list" data-toggle="list" href="#meal"  >吃飯</a>
        <a class="list-group-item list-group-item-warning" id="list-pick-up-list" data-toggle="list" href="#list-pick-up"  >換人接送</a>
        <a class="list-group-item list-group-item-warning" id="list-settings-list" data-toggle="list" href="#other"  >其他</a>
      </div>
    </div>
    <div class="col-8">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="feed-medicine">
          <div class="container text-center">
            <h2 class="text-white">用藥明細</h2>
            <table class="table">
              <tbody class="text-white">


                <% @dashboards.each do |dashboard| %>
                  <tr>
                      <td><%= dashboard.title %></td>
                      <td><%= dashboard.started_at %></td>
                      <td><%= link_to '詳情', teacher_dashboard_child_medicine_path(dashboard) %></td>
                  </tr>
                <% end %>
            
              </tbody>
            </table>

          </div>
        </div>
        <div class="tab-pane fade" id="meal" >2...</div>
        <div class="tab-pane fade" id="list-pick-up" ><%= render 'pick_up' %></div>
        <div class="tab-pane fade" id="other" >4...</div>
      </div>
    </div>
  </div>

 
</div>

