<%= render 'shared/frontend/navbar' %>
<div class="container task-show">
  <h2 class="text-center font-weight-bold title-color mb-3">
    <%= @child.name %><br>
    生活紀錄
  </h2>
  <div class="misc_pic mb-3">
    <%= cover_misc_pic_image_tag @misc_dashboards %>
  </div>
  <table class="table table-hover">
    <tbody>
      <tr>
        <th scope="row">餐別</th>
        <td><%= @misc_dashboards.title %></td>
      </tr>
      <tr>
        <th scope="row">用餐日期</th>
        <td><%= @misc_dashboards.finished_at.to_date %></td>
      </tr>
      <tr>
        <th scope="row">用餐內容</th>
        <td><%= @misc_dashboards.content %></td>
      </tr>
      <td>
        <%= link_to '回到上一頁', dashboard_child_path(id: params[:child_id], anchor: 'misc'), class: 'btn back-button' %>
      </td>
      <td></td>
    </tbody>
  </table>
</div>
