<%= render 'shared/backend/navbar'%>
<%= render 'shared/flash' %>

<div class="container">
  <h1 class="text-warning"><%= @student.name %></h1>
  <table class="table table-hover table-secondary ">
    <tbody class="text-info">
        <tr>
            <th scope="row">用藥名稱</th>
            <td><%= @medicine_dashboard.title %></td>
        </tr>
        <tr>
            <th scope="row">用藥日期</th>
            <td><%= @medicine_dashboard.started_at.to_date %></td>
        </tr>
        <tr>
            <th scope="row">用藥時間</th>
            <td><%= @medicine_dashboard.started_at %></td>
        </tr>
        <tr>
            <th scope="row">備註</th>
            <td><%= @medicine_dashboard.content %></td>
        </tr>
        <tr>
          <th scope="row">餵藥者簽名</th>
          <td><%= @medicine_dashboard.admin_sign %></td>
        </tr>  
    </tbody>
  </table>
  <%= link_to '回到上一頁',teacher_dashboard_child_path(id: params[:child_id]), class:'btn btn-warning' %>
</div>
