<!DOCTYPE html>
<html>
  <head>
    <title>Monicare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body class="bg-dark">
    <%= yield %>
  </body>
</html>
